body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
#header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: blanchedalmond;
  width: 100%;
}
#container {
  background-color: blueviolet;
  width: 100dvw;
  height: 100dvh;
}

main {
  display: flex;
  width: 75dvw;
  justify-content: center;
}
#main-content {
  width: 100dvw;
  margin: auto;
  display: flex;
  justify-content: center;
}
main a {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
}

nav {
  width: 80dvw;
  align-items: center;
  height: 5dvh;
  background-color: aqua;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 100dvw;
}

#menu {
  display: flex;
  background-color: cornflowerblue;
  margin: auto;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
}

#menu img {
  margin: 10px;
  width: 80%;
  height: 50%;
}

#menu figure {
  background-color: antiquewhite;
  width: calc(80% / 3);
  height: 50%;
  margin: 1rem;
}
#menu figcaption {
  text-align: center;
  border-bottom: none;
  padding: 5px;
  width: 100%;
  word-wrap: break-word;
}
