*,
::before,
::after {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-size: 1em;
}
a {
  text-decoration: none;
}
#header {
  box-shadow: 3px 2px 15px #949393;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
  z-index: 9999;
  width: 100%;
  align-items: center;
  height: 3rem;
}
.title {
  margin: 8px;
  text-align: center;
}
#header nav {
  max-width: 1200px;
  width: 100%;
  align-items: center;

  display: flex;
  text-decoration: none;
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}
nav li {
  margin: auto 1rem;
}
#nav2 {
  width: 30%;
  margin: 0 1rem;
  margin-left: auto;
  justify-content: right;
  display: flex;
}

#links {
  width: 30%;
  justify-content: start;
  display: flex;
}
#nav2 a {
  margin: 1rem;
  align-items: center;
  display: flex;
}
#nav2 img {
  margin-right: 5px;
}
.category-wrapper {
  width: 100%;

  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #ffffff;
  border-bottom: 1px solid rgb(229, 229, 229);
  top: 3rem;
  position: sticky;
}
#categorylist {
  height: 10dvh;
  align-items: center;
  justify-content: start;
  display: flex;
  margin-top: 5px;
  width: 1200px;
}
#categorylist a {
  flex-direction: column;
  margin: 0 1rem;
  height: 80%;
  width: 4rem;
  display: flex;
}
#categorylist img {
  object-fit: cover;
  height: 80%;
  flex: 1;
}
#categorylist span {
  text-align: center;
  font-size: 1em;
}

#container {
  height: auto;
  display: flex;
  flex-direction: column;
}

main {
  display: block;
  width: 90%;
  height: auto;
  margin-bottom: 10dvh;
  justify-content: center;
}

#main-content {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}
html {
  scroll-behavior: smooth;
}
main a {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
}

#menu {
  flex: 1;
  display: block;
  margin: auto;
  max-width: 1200px;
  flex-wrap: wrap;
}
.menu-categ {
  display: flex;
  background-color: #fcfcfc;
  margin: auto;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#menu img {
  margin-bottom: 10px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

#menu a {
  border-width: 1px;
  border-style: solid;
  border-color: #e9e6e6;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  width: calc(80% / 4);
  height: 50%;
  margin: 1rem;
}
#menu figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
}
#menu figcaption {
  border-bottom: none;
  width: 100%;
}
#menu h3 {
  margin: 5px;
}
figcaption p {
  padding: 5px 1rem;
  margin: 5px 0;
}
#news {
  display: grid;
  margin: 2rem auto;
  width: 100%;
  max-width: 1200px;
  flex-direction: row;
  align-items: start;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

#news a {
  border: 1px solid #e9e5e5;
  flex: 1;
  border-radius: 10px;
  contain: layout;
  height: 100%;
}

#news img {
  margin-bottom: 10px;
  object-fit: cover;
  border-radius: 10px;
  max-height: 200px;
}
#news figure {
  width: 100%;
  margin: 0;
}
#news figcaption {
  text-align: center;
  border-bottom: none;
  padding: 5px;
  width: 100%;
  word-wrap: break-word;
  min-height: 100px;
}
#restaurants {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 0;
}

#restaurants li:first-child {
  border-radius: 10px 10px 0 0;
}

#restaurants li:last-child {
  border-radius: 0 0 10px 10px;
  border-bottom: 1px solid #bababa;
}

#restaurants li {
  list-style: none;
  border: 1px solid #bababa;
  border-bottom: none;
  width: 75%;
}

#restaurants a {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  justify-content: center;

  width: 100%;
}
#restaurants h2 {
  padding: 0;
}
#restaurants span {
  padding: 0;
}
#loginpage {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#loginpage h2 {
  grid-column: 1;
  grid-row: 1;
}
#loginpage aside {
  width: 60%;
  margin: 2rem 0;
}
#loginwrapper {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}
#loginpage form {
  display: flex;
  flex-direction: column;

  border: 1;
  border-width: 1px;
  width: 300px;
}
#loginpage label {
  font-size: small;
  margin: 2px 0;
}
#loginpage img {
  object-fit: cover;
}
#loginpage button {
  margin: 10px 0;
  width: 100%;
  height: 2rem;
}
#login {
  cursor: pointer;
}
#logout {
  cursor: pointer;
}
