* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-size: 1em;
}
a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}

#header {
  box-shadow: 3px 2px 15px #949393;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
  z-index: 100;
  width: 100%;
  align-items: center;
  height: 5rem;
  color: #51993f;
}
.title {
  margin: 2rem 2rem 0 2rem;
  text-align: start;
  font-size: 30px;
}
#header nav {
  max-width: 1300px;
  width: 100%;
  align-items: center;
  font-size: 25px;
  display: flex;
  text-decoration: none;
}
nav a {
  color: #51993f;
}
nav ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}
nav li {
  margin: auto 1rem;
}
nav li:hover {
  text-decoration: underline;
}
#nav2 {
  width: 30%;
  margin: 0 1rem;
  margin-left: auto;
  justify-content: right;
  display: flex;
}
#add-product-btn {
  height: 10rem;
  margin-top: 10rem;
  margin-left: 8rem;
}
#links {
  width: 30%;
  justify-content: start;
  display: flex;
}
#nav2 a {
  margin: 1rem;
  align-items: center;
  display: flex;
}
#nav2 a:hover {
  text-decoration: underline;
}
#nav2 img {
  margin-right: 5px;
}
.category-wrapper {
  width: 100%;
  height: 6rem;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #ffffff;
  border-bottom: 1px solid rgb(229, 229, 229);
  top: 5rem;
  position: sticky;
}
#categorylist {
  height: 5rem;
  align-items: center;
  justify-content: start;
  display: flex;
  margin-top: 5px;
  width: 1300px;
}
#categorylist a {
  flex-direction: column;
  margin: 0 1rem;
  height: 90%;
  width: 4rem;
  display: flex;
  padding-bottom: 10px;
}
#categorylist a:hover {
  border-bottom: #3a3a3a;
  border-bottom-style: solid;
  border-spacing: 2rem;
}
#categorylist img {
  object-fit: cover;
  height: 80%;
  flex: 1;
}
#categorylist span {
  text-align: center;
  font-size: 1em;
}

#container {
  height: auto;
  display: flex;

  flex-direction: column;
}
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  overflow: hidden;
  height: 40dvh;
}

.mySlides {
  display: none;
  width: 100%;
}

img {
  vertical-align: middle;
  width: 100%;
  object-fit: fill;
  height: 100%;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

main {
  display: block;
  width: 90%;
  height: auto;
  margin-bottom: 10dvh;
  justify-content: center;
}

#main-content {
  width: 100%;

  display: flex;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
html {
  scroll-behavior: smooth;
}

main a {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
}

#menu {
  flex: 1;
  display: block;
  margin: auto;
  max-width: 1300px;
  flex-wrap: wrap;
}
.menu-categ {
  scroll-margin-top: 15rem;
  display: flex;
  background-color: #fcfcfc;
  margin: auto;
  width: auto;
  flex-wrap: wrap;
  justify-content: start;
}

#menu img {
  margin-bottom: 10px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

#menu a {
  border-width: 1px;
  border-style: solid;
  border-color: #5c5959;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  width: calc(80% / 4);
  height: 50%;
  margin: 2.5%;
}
#menu a:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.603);
}
#menu figure {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  width: 100%;
  margin: 0;
  padding-bottom: 1rem;
}
#menu figcaption {
  border-bottom: none;
  width: 100%;

  height: 7rem;
  overflow: hidden;
}
.figure-header {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.figure-header p {
  display: flex;
  align-items: center;
  height: 2rem;
  border: 1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  border-color: rgb(131, 129, 129);
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  width: 30%;
  margin-left: auto;
  margin-right: 8px;
  letter-spacing: 1px;
  font-style: normal;

  font-weight: 550;
  color: #fefefe;
  border-radius: 15px;
  background-color: rgb(63, 224, 14);
}
figure h3 {
  color: #d89d66;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70%;
  flex: 1;
  padding: 0 1rem;
  display: block;
  margin: 5px;
}
figcaption p {
  padding: 5px 1rem;
  margin: 5px 0;
  display: block;
}
#news {
  display: grid;
  margin: 2rem auto;
  width: 100%;
  max-width: 1200px;
  flex-direction: row;
  align-items: start;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

#news a {
  border: 1px solid #e9e5e5;
  flex: 1;
  border-radius: 10px;
  contain: layout;
  height: 100%;
}

#news img {
  margin-bottom: 10px;
  object-fit: cover;
  border-radius: 10px;
  max-height: 200px;
}
#news figure {
  width: 100%;
  margin: 0;
}
#news figcaption {
  text-align: center;
  border-bottom: none;
  padding: 5px;
  width: 100%;
  word-wrap: break-word;
  min-height: 100px;
}
#restaurants {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 0;
}

#restaurants li:first-child {
  border-radius: 10px 10px 0 0;
}

#restaurants li:last-child {
  border-radius: 0 0 10px 10px;
  border-bottom: 1px solid #bababa;
}

#restaurants li {
  list-style: none;
  border: 1px solid #bababa;
  border-bottom: none;
  width: 75%;
}

#restaurants a {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  justify-content: center;

  width: 100%;
}
#restaurants h2 {
  padding: 0;
}
#restaurants span {
  padding: 0;
}
#loginpage {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#loginpage h2 {
  grid-column: 1;
  grid-row: 1;
}
#loginpage aside {
  width: 60%;
  margin: 2rem 0;
}
#loginwrapper {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}
#loginpage form {
  display: flex;
  flex-direction: column;

  border: 1;
  border-width: 1px;
  width: 300px;
}
#loginpage label {
  font-size: small;
  margin: 2px 0;
}
#loginpage img {
  object-fit: cover;
}
#loginpage button {
  margin: 10px 0;
  width: 100%;
  height: 2rem;
}
#login {
  cursor: pointer;
}
#logout {
  cursor: pointer;
}

#pizza-modal {
  position: fixed;
  z-index: 999;
  margin: auto;
  width: 40%;
  border-radius: 15px;
  inset: 0px;
  height: 40%;
  display: none;
}

#addProduct {
  position: fixed;
  z-index: 999;
  margin: auto;
  width: 40%;
  border-radius: 15px;
  inset: 0px;
  max-height: 70dvh;
  display: none;
  background-color: #ffffff;
}
#add-product-form {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden auto;
}
#add-product-form > * {
  margin: 5px;
}
#add-product-checkbox {
  align-items: center;
  border: solid 1px #e0d7d7;

  display: flex;
  flex-direction: column;
  width: 50%;

  overflow: hidden auto;
}
#yhteystiedot {
  display: flex;
  border: 1px solid#d1c3c3b6;
  width: 100%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.yhteystieto-field {
  padding: 2rem;
  border-bottom: 1px solid #d1c3c3b6;
  width: 100%;
}
#customerInfoModal {
  z-index: 999;
  width: 20%;
  border-radius: 10px;
  height: fit-content;
  position: fixed;
  background-color: white;
  top: 0;
  right: 50%;
  transform: translate(50%, 30%);
}
.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  top: 5rem;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  max-height: 0;
  transition: max-height 0.2s ease-in-out;

  overflow: hidden;
}
.dropdown-content.show {
  max-height: 500px;
}
.dropdown-content a {
  color: black;
  padding: 12px 10px;
  margin: 1rem;
  text-decoration: none;
  display: flex;
}

.checkbox-group {
  padding-top: 6px;
  display: flex;
  align-items: center;
  padding-bottom: 6px;
}

.checkbox-group label {
  cursor: pointer;
}
textarea {
  width: 70%;
  height: 100px;
  resize: none;
}
#addModalContent {
  border-radius: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #c9c7c7;
  overflow: hidden auto;
}

#modal-content {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-color: #c9c7c7;
  overflow: hidden auto;
}

#modal-content p {
  margin: 0;
  color: #3a3a3a;
}
#modal-content h2 {
  margin: 5px 0;
}
#modal-content img {
  object-fit: cover;
  width: 50%;
}
a:hover {
  cursor: pointer;
}

#modal-tayte {
  background-color: #ffffff;
  flex: 1;
  display: flex;
  flex-direction: column;

  padding: 2rem;
}
.close-button {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  margin-left: auto;
}
.modalBackdrop {
  position: fixed;
  inset: 0;
  display: none;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 300;
}
.visible {
  display: flex;
}
#cart-modal {
  display: flex;
  position: fixed;
  border-radius: 20px 0 0 20px;
  top: 0;
  width: 0px;
  right: 0;
  height: 100dvh;
  overflow: hidden;
  background-color: #ffffff;
  z-index: 9999;
  transition: width 0.3s ease-in-out;
}

#cart-modal h2 {
  padding-top: 1rem;
}

#cart-modal.active {
  width: 400px;
}
#cart-modal aside {
  width: 100%;
  flex-direction: column;
  display: flex;
  margin-left: 2rem;
}
#cart-modal h2 {
  margin-left: 1.5rem;
}
.hide {
  display: none;
}
#show {
  display: flex;
}
.tabs {
  overflow: hidden;
  background-color: #f1f1f1;
}

.tablinks {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tablinks:hover {
  background-color: #ddd;
}

.tablinks.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 20px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent.active {
  display: flex;
}
.product {
  border: #bababa;
  border-style: solid;
  margin: 5px 0;
  border-radius: 10px;
  border-width: 1px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 90%;
}

.product button {
  margin: 1rem;

  align-self: center;
  width: 40px;
  height: 30px;
}
#products {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#products a {
  border-style: solid;
  border-width: 1px;
  border-color: #bababa;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  background-color: cadetblue;
  margin-top: 2rem;
  font-size: 20px;
  width: 70%;
}
.testi {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-width: 1px;
  border-color: #bababa;
  border-radius: 10px;
  margin: 1rem 0;
}
.tuoteTiedot {
  width: 100%;
  padding: 0 1rem;
}
#confTuotteet img {
  object-fit: cover;
  width: 20%;
}
#confTuotteet {
  display: flex;
  max-width: 750px;
  width: 40%;
  justify-content: end;
  flex-direction: column;
  margin: 2rem;
}
#delivery {
  width: 50%;
  max-width: 750px;
  justify-content: center;

  display: flex;
}
#deliveryWrapper {
  width: 1300px;
  margin: auto;
}
#orderForm {
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#orderForm label {
  display: flex;
  justify-content: center;
}
#orderForm select {
  width: 100%;
  height: 2rem;
}
#orderForm p {
  align-self: start;
}
#orderForm h2 {
  margin-bottom: 1rem;
}
#orderForm * {
  margin: 5px;
}
#orderForm input {
  width: 100%;
  height: 2.5rem;
  margin: 5px;
}
#orderForm button {
  width: 5rem;
  height: 2rem;
  margin: 4px;
}
#orders {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
#deliveries {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.order {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0;
  width: 100%;
}
#orderList li {
  margin: 1rem;
  border-width: 1px;
  border-radius: 10px;
  border-color: #ada6a6;
  border-style: solid;
  width: 100%;
  max-width: 700px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

#orderList {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
#deliveryList {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
#deliveryList li {
  margin: 1rem;
  border-width: 1px;
  border-radius: 10px;
  border-color: #ada6a6;
  border-style: solid;
  width: 100%;
  max-width: 700px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

#orderList h3 {
  margin: 0;
  padding: 5px;
}
#deliveryList h3 {
  margin: 0;
  padding: 5px;
}
#orderList p {
  margin: 0;
  padding: 5px;
}
#deliveryList p {
  margin: 0;
  padding: 5px;
}
.customerInfo {
  font-weight: bold;
  display: flex;
  width: 100%;
  padding: 1rem 1rem;
  flex-direction: column;
  align-items: center;
}
#orderList button {
  height: 3rem;
  font-weight: bold;
  width: 96%;
  margin: 1rem auto;
  border-radius: 10px;
  background-color: #cfdf75;
}
#deliveryList button {
  height: 3rem;
  font-weight: bold;
  width: 96%;
  margin: 1rem auto;
  border-radius: 10px;
  background-color: #cfdf75;
}
.orderId {
  font-size: 15px;
  font-weight: lighter;
}

.status {
  display: flex;
  width: 100%;
  padding: 0 0 0 0;
  justify-content: center;
  align-items: center;
  border-width: 0 0px 1px 0px;

  border-color: #ada6a6;
  border-style: solid;
}
.redDot {
  height: 20px;
  width: 20px;
  margin: 8px;
  background-color: #da3939;
  border-radius: 50%;
  display: inline-block;
}
.yellowDot {
  height: 20px;
  width: 20px;
  margin: 8px;
  background-color: #fcca43;
  border-radius: 50%;
  display: inline-block;
}
#toastContainer {
  position: fixed;
  top: 3.5rem;
  right: 10dvw;
  transform: translate(50%, 50%);
}
#loginpage span {
  color: #dd6161;
  font-size: smaller;
  margin: 4px;
}
@media only screen and (max-width: 800px) {
  #orderList li {
    width: 95%;
    margin: 1rem auto;
  }
  #orderList {
    padding: 0;
    width: 100%;
  }
  #orderList a {
    width: 100%;
  }
  main {
    width: 100%;
  }
  #menu a {
    width: 100%;
    margin: 1rem;
  }
  #menu figure {
    flex-direction: row;
    height: 100%;
    padding: 0;
  }
  #links {
    font-size: 20px;
  }
  nav {
    font-size: 18px;
  }
  #menu img {
    border-radius: 10px 0 0 10px;
    object-fit: cover;
    width: 50%;
    height: 100%;
  }
  #pizza-modal #modal-content {
    flex-direction: column;
  }
  #pizza-modal #modal-content {
    flex-direction: column;
  }
  #pizza-modal {
    height: fit-content;
    width: 100%;
    overflow: auto;
  }
  #deliveryWrapper {
    width: 100%;
  }
  #confTuotteet {
    width: 90%;
  }
  #delivery {
    width: 100%;
    text-align: center;
  }
  #pizza-modal img {
    width: 100%;
    object-fit: contain;
  }
  #menu figcaption {
    height: 100%;
  }
  .figure-header {
    flex-direction: column;
    margin: auto;
  }
  .figure-header h3 {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .figure-header p {
    width: 50%;
    margin: auto;
  }
  #toastContainer {
    top: 5dvh;
    right: 50dvw;
  }
}
/*TODO CHANGE NAVIGATION TO COLUMN AND AS A DROPDOWN*/
